/classes/
/.classpath
/.project
/lib/
/logs/
/data/
*.jar
*.class
/java.hprof.txt
/target/
*.bbl
*.blg
*.lof
*.log
*.pdf
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.xdy
*.ist
*syntex*
/.externalToolBuilders/
/.settings/
/.README.md.html
/*.txt
/.idea/.gitignore
/.idea/ClojureProjectResolveSettings.xml
/curate.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
